@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
    height: 100%;
}

nav#app-header-navigation {
    background-color: black;
    div > li {
        padding: 5px 5px 5px 0;
        transition-property: background-color;
        transition-duration: 2s;
    }
    div > li > a {
        &:active {
            color: white;
        }
        &:hover {
            color: yellow !important;
            background-color: #495057;
        }
        &:visited {
            color: white;
        }
        &:link {
            color: white;
        }
    }
}

main#app-main-container {
    color: white;
}

div.app-shared-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-size: 50px;
}

div#app-home-container {
    span.content-emoji::before {
        content: '🐯';
    }
}

.content-transition-text {
    transition: 1s;
}
.content-transition-text:hover {
    color: yellow;
}

div#app-about-container {
    flex-direction: column;
    h1 {
        margin: 12px;
    }
    p {
        margin: 10px;
        font-size: 1.5rem;
    }
}
